{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About!!!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Know more about project gaadi</p>
        </div>
    </div><br><br>
    
</header> <br><br>

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>


{% endblock %}
