{% extends 'accounts/base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Your Ride</h1>
            <p class="lead fw-normal text-white-50 mb-0">Manage your reservations</p>
        </div>
    </div>
</header> 


<div class="container">
          <div class="row">
            <center>
              <div class="col-8">
                <h3>Your Ride</h3>
                <p>Please Note that you can only make one reservation at a time</p>
                {% if obj %}
                  <table class="table table-stripped table-hover table-bordered ">
  <thead class="table-dark">
    <tr>
      <th scope="col">Vehicle</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Pickup Address</th>
      <th scope="col">Destination</th>
      <th scope="col">Purpose</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>

      <td>{{obj.vehicle}}</td>
      <td>{{obj.start_date}}</td>
      <td>{{obj.end_date}}</td>
      <td>{{obj.pickup_location}}</td>
      <td>{{obj.destination}}</td>
      <td>{{obj.purpose}}</td>
      <td>{{obj.status}}</td>
    </tr>
    
  </tbody>
</table>
<form method="post" action="{% url 'cancel_reservation' obj.id %}">
  {% csrf_token %}
<button type="submit" class="btn btn-danger" id="cancel">Cancel</button><br><br><br>
</form>
{% else %}
<h5>You have not made any reservations.</h5>
{% endif %}
              </div>
            </center>
          </div>
        </div>

{% endblock %}