{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Here are your results!!!</p>
        </div>
    </div><br><br>
    
</header> <br><br>
<div class="container">
<div class="row g-4">
      {% for vehicle in vehicles %}
        <div class="col-md-4 col-sm-6">  
          <div class="card shadow-lg border-0 rounded-3 h-100">
            <img src="{{ vehicle.photo.url }}" class="card-img-top" alt="{{ vehicle.vehicle_name }}">
            
            <div class="card-body">
              <h5 class="card-title text-primary">{{ vehicle.vehicle_name }}</h5>
              <p class="card-text text-muted">{{ vehicle.description|truncatewords:20 }}</p>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Reg. Number:</strong> {{ vehicle.vehicle_number }}</li>
              <li class="list-group-item"><strong>Capacity:</strong> {{ vehicle.capacity }}</li>
              <li class="list-group-item"><strong>Owner:</strong> {{ vehicle.owner }}</li>
            </ul>

            <div class="card-body text-center">
              <a href="{% url 'booking' vehicle.pk %}" class="btn btn-outline-primary w-100">Book Now</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
    {% endblock %}

